<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="喜爱慢跑是一个慢跑爱好者分享慢跑经验图片的网站，你可以在这儿签到打卡，分享慢跑，比赛经验等">
    <meta name="keywords" content="慢跑，马拉松比赛，健身跑">
    <meta name="author" content="lovejog">
    <title>
        喜爱慢跑-随时随地分享身边的慢跑事儿
    </title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-48214929-1']);
        _gaq.push(['_trackPageview']);
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/logo/logo.png" alt="LoveJog" class="logo"/>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-home" style="color:#dd1111;"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i></a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                        <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                        <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                        <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                        <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                    </ul>
                </li>
                <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
                <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<!--main-->
<div class="container" id="main">
    <div class="row" id="ms-container">

        <% if(page == 0) { %>
        <div class="col-md-4 col-sm-6 col-xs-12 ms-item">
            <div class="well card">
                <form class="form-horizontal" role="form">
                    <div class="form-group" style="padding:14px;margin-bottom:0">
                        <textarea class="form-control" placeholder="说说你身边关于慢跑的新鲜事"></textarea>
                    </div>
                    <div>
                        <div class="m7">
                            <div class="mB k7"></div>
                            <div class="mB l7"></div>
                        </div>
                        <ul class="list-inline text-center">
                            <li>
                                <a href="#">
                                    <div class="text"></div>
                                    文字
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="photo lp"></div>
                                    图片
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="link lp"></div>
                                    链接
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="event lp"></div>
                                    活动
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 ms-item">
            <div class="panel panel-default">
                <div class="panel-heading"><a class="pull-right" href="#">更多</a> <h4>和大家一起跑</h4></div>
                <div class="panel-body">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img alt="48x48" data-src="http://holder.js/48x48" class="media-object"
                                 style="width: 48px; height:48px;"/>
                        </a>

                        <div class="media-body">
                            <p class="media-heading">上海浦东世纪公园<a href="#"
                                                                class="btn btn-default btn-sm pull-right">参加</a></p>
                            <small class="text-info">12人</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <% posts.forEach(function(post){ %>

        <div class="col-md-4 col-sm-6 col-xs-12 ms-item">
            <div class="card panel panel-default">
                <div class="card-heading image">
                    <img alt="46x46" style="width: 46px; height: 46px;">

                    <div class="card-heading-header">
                        <h3><%= if (post.title) post.title %></h3>
                        <span><%= post.source %> <%= post.posted %></span>
                    </div>
                </div>
                <div class="card-body">
                    <p> <%= post.content %>
                    </p>
                </div>
                <div class="card-media">
                    <a href="#" class="card-media-container">
                        <img alt="500x300" src="<%= post.qiniu_img_url %>" style="width: 500px; height: 300px;">
                    </a>
                </div>
                <div class="card-actions">
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default">+1</button>
                                <button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <% }); %>
        <!--/row-->
        <div id="nextpage" class="hide"><a href="/?page=2">加载更多...</a></div>
        <!--page-nav end-->
    </div>


    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo" style="background-color:#EDEDED;margin-top: 80px;padding-top: 10px">
        <div class="container">

            <p class="text-center">Lovejog © 2014. All Rights Reserved. </p>

            <p class="text-center">
                <a href="http://www.miitbeian.gov.cn/" target="_blank" class="link_gray">沪ICP备14008847号-1</a>
            </p>

            <p class="text-center"><a href='#'>点击返回到顶部</a></p>
        </div>
    </footer>


    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/plugin/masonry.pkgd.min.js"></script>
    <script src="/plugin/imagesloaded.min.js"></script>
    <script src="/plugin/jquery.infinitescroll.min.js"></script>


    <script src="/js/application.js"></script>
    <script type='text/javascript'>

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
